@import '../../scss/mixins';

[class^='project__header-block'] {
    display: flex;
    align-items: center;
}

.project__header {
    display: flex;
    justify-content: space-between;
    &-block {
        &--left {
            gap: 1.2rem;
        }
        &--right {
            gap: 2.4rem;
        }
    }
    &-square {
        width: 2.4rem;
        height: 2.4rem;
        @include mq-720 {
            width: 4rem;
            height: 4rem;
        }
    }
    &-title {
        font-size: 2.4rem;
        font-weight: 300;
        @include mq-720 {
            font-size: 4rem;
        }
    }
}