@import '../../scss/mixins';

.section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-title {
        font-size: 2.0rem;
        font-style: italic;
        font-weight: 300;
        @include mq-720 {
            font-size: 4rem;
        }
    }

    &-home-btn {
        font-size: 2.4rem;
        @include mq-720 {
            font-size: 3.2rem;
        }
    }
    
}