.section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-title {
        font-size: 2.0rem;
        font-style: italic;
        font-weight: 300;
    }

    &-home-btn {
        font-size: 2.4rem;
    }
    
}