[class^='project__header-block'] {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.project__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-square {
        width: 1.2rem;
        height: 1.2rem;
    }
    &-title {
        font-size: 2rem;
        font-weight: 400;
        font-style: italic;
    }
    &-home-btn {
        color: var(--black--0);
        font-size: 2.4rem;
    }
}