@import '../../scss/mixins';
@import '../../scss/variables';

.work__project {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid;
    &:nth-last-child(1) {
        border-bottom: none;
    }
    overflow: hidden;
    @include mq-720 {
        &:nth-child(1), &:nth-child(3) {
            border-right: 1px solid;
        }
        &:nth-last-child(2) {
            border-bottom: none;
        }
    }

    &-cover, &-info {
        padding: 1.2rem;
        position: relative;
        @include mq-720 {
            padding: 2.4rem;
        }
    }
    &-cover {
        height: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: max-height .3s ease-in-out, padding .3s ease-in-out, color .3s ease-in-out;
        overflow: hidden;
        position: relative;

        @include mq-720 {
            &::before {
                position: absolute;
                inset: 100% 0 0 0;
                content: '';
                background-color: var(--black);
                transition: inset .3s ease-in-out;
            }
            &::after {
                position: absolute;
                inset: auto 0 0 auto;
                content: '+';
                padding: 0 1.2rem;
                font-size: $fs--m;
                color: var(--grey-100);
                transform: translateY(100%);
                transition: transform .3s ease-in-out;
            }
    
            &:hover {
                color: var(--grey-100);
                &::before {
                    inset: 0 0 0 0;
                }
                &::after {
                    transform: translateY(0)
                }
            }
        }
    }

    &-number, &-title {
        transform: translateY(0);
        opacity: 1;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    }
    &-number {
        &-text {
            font-size: $fs--xs;
            font-weight: 300;
            opacity: 0;
            transform: translateY(-3.2rem);
            @include mq-720 {
                font-size: $fs--xs-desktop;
                font-weight: 300;
            }
            @include mq-1280 {
                font-size: $fs--xs-desktop-1280;
            }
        }
    }
    &-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &-text {
            font-size: $fs--m;
            font-weight: 200;
            opacity: 0;
            transform: translateY(-3.2rem);

            &--on-hover {
                font-weight: 300;
            }
            @include mq-720 {
                font-size: $fs--m-desktop;
            }
            @include mq-1280 {
                font-size: $fs--m-desktop-1280;
            }
        }
    }
    &-expand { 
        font-size: $fs--m;
        font-weight: 200;
    }
    &-toggler {
        display: flex;
        align-items: flex-end;
    }
    &-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        inset: 100% 0 0 0;
        font-size: $fs--xs;
        font-weight: 300;
        transition: inset .3s ease-in-out;
        @include mq-720 {
            font-size: $fs--xs-desktop;
        }

        &-row {
            opacity: 0;
            display: flex;
            flex-direction: row;
            gap: 2.4rem;
            transform: translateY(3.2rem);
            transition: opacity .3s .2s ease-in-out, transform .3s .2s ease-in-out;
            @include mq-720 {
                gap: 3.2rem;
            }

            &-item {
                flex: 1;
                display: flex;
                gap: .6rem;
                &--column {
                    flex-direction: column;
                }
            }
        }

        &-title-text {
            font-weight: 300;
            text-transform: uppercase;
            padding-bottom: .6rem;
            border-bottom: 1px solid;
        }
    }
    &-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        color: var(--black);
        gap: .6rem;
        position: relative;

        @include mq-720 {
            & > span, & > .arrow--project {
                transition: transform .2s ease-in-out;
            }
            &::before {
                position: absolute;
                inset: calc(100% - 1px) 100% 0 0;
                content: '';
                background: var(--black);
                transition: inset .3s ease-in-out;
            }
    
            &:hover {
                & > span, & > .arrow--project {
                    transform: translateY(-.6rem);
                }
                &::before {
                    inset: calc(100% - 1px) 0 0 0;
                }
            }
        }
    }
    &-radio {
        appearance: none;
        position: absolute;

        &:checked {
            & ~ .work__project {
                &-cover {
                    max-height: 0;
                    padding: 0 1.2rem 0 1.2rem;

                    & > .work__project-number {
                        opacity: 0;
                        transform: translateY(-2.4rem);
                    }
                    & > .work__project-title {
                        opacity: 0;
                        transform: translate(-50%, -100%);
                    }

                    @include mq-720 {
                        background-color: var(--black);
                        color: var(--grey-100);
                        padding: 0 2.4rem 0 2.4rem;
                    }
                }
                &-info {
                    inset: 0 0 0 0;

                    & > .work__project-info-row {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            
        }
    }
}