@import '../../../scss/mixins';
@import '../../../scss/variables';

.section__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $padding--m;
    border-bottom: 1px solid;
    @include mq-720 {
        padding: 2.4rem;
    }
}