@import '../../../scss/mixins';
@import '../../../scss/variables';

.section__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: $padding--m;
    border-bottom: $border-solid;
    @include mq-1024 {
        padding: $padding--l;
    }

    &-item {
        &:nth-child(2) {
            text-align: center;
        }
        &:nth-child(3) {
            text-align: right;
        }
    }
}

// Dark mode
.dark {
    .section__header {
        border-color: $color-border--dark;
    }
}