.robbertas {
    &__main {
        color: var(--black--0);
        gap: 2.4rem;
    }
    &__block {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__description {
        &-block {
            display: flex;
            padding-bottom: 2.4rem;
            gap: 1.2rem;
            border-bottom: 1px solid var(--black--0);
        }
        &-span {
            width: fit-content;
            font-size: 2.4rem;
            font-weight: 300;
        }
        &-text {
            font-size: 3.2rem;
            font-weight: 300;
        }
    }
}