@import '../../../scss/mixins';
.project {
    gap: 2.4rem;
    
    &__main {
        font-size: 2.4rem;
        font-weight: 300;
        gap: 0;
        @include mq-720 {
            font-size: 4rem;
        }
    }
    &__description {
        flex: 1;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @include mq-720 {
            padding: 2.4rem;
            gap: 2.4rem;
        }

        & p:nth-child(1) {
            width: 75%;
            @include mq-720 {
                width: 35%;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            @include mq-720 {
                flex-direction: row;
                gap: 2.4rem;
            }
            
            & > li {
                display: flex;
                flex-direction: row;
                gap: 1.2rem;
                @include mq-720 {
                    flex: 1;
                    flex-direction: column;
                }
            }

        }
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        width: 75%;
        gap: 1.2rem;
        padding: 1.2rem;
        & p {
            width: fit-content;
        }
        & p:nth-child(1) {
            border-bottom: 1px solid;
        }
        & p:nth-child(2) {
            text-transform: lowercase;
        }
        @include mq-720 {
            flex-direction: row;
            width: 100%;
            padding: 2.4rem;
            gap: 2.4rem;
        }

        &-roles, &-techs {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: .6rem;
            @include mq-720 {
                flex-direction: column;
            }
        }
    }
    &__footer { 
        display: flex;
        flex-direction: column;

        @include mq-720 {
            flex-direction: row;

        }
    }
    &__visit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.2rem;
        border-top: 1px solid;
        @include mq-720 {
            flex: 1;
        }
    }

}