@import '../../../scss/mixins';

.nav {
    display: flex;
    flex-direction: row;
    border-right: .1rem solid;
    border-left: .1rem solid;
    border-radius: 4.8rem;
    padding: 0 2rem;
    gap: 1.2rem;

    @include mq-720 {
        padding: 0 4rem;
        gap: 4.8rem;
    }

    &.hidden {
        display: none;
    }

    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: .6rem 0;
        position: relative;
        @include mq-720 {
        padding: 1.2rem 2.4rem;
        }
        &:hover {
            & > .nav-item__pusher {
                width: 25%;
            }
        }

        &.active {
            @include mq-720 {
            }
            & > .nav-item__pusher {
                width: 100%;
            }
            
            & > .nav-item__title {
                font-weight: 600;
            }
        }
        &.color--black--0::after,
        &.color--black--100::after,
        &.color--black--300::after,
        &.color--white--200::after,
        &.color--white--300::after,
        &.color--red::after,
        &.color--blue::after, 
        &.color--green::after  {
            position: absolute;
            inset: calc(100% - 1px) 0 0 0;
            content: '';
        }
        &.color--black--0::after {
            background-color: var(--black--0);
        }
        &.color--black--100::after {
            background-color: var(--black--100);
        }
        &.color--black--300::after {
            background-color: var(--black--300);
        }
        &.color--white--200::after {
            background-color: var(--white--200);
        }
        &.color--white--300::after {
            background-color: var(--white--300);
        }
        &.color--red::after {
            background-color: var(--red);
        }
        &.color--blue::after {
            background-color: var(--blue);
        }
        &.color--green::after {
            background-color: var(--green);
        }

        &__content {
            display: flex;
            flex-direction: row;
        }

        &__number {
            font-size: 1.6rem;
            font-weight: 300;
            @include mq-720 {
                font-size: 2rem;;
            }
            &.hidden {
                display: flex;
                align-items: center;
                opacity: 0;
                height: 0;
            }
        }
        &__pusher {
            display: block;
            width: 2.4rem;
            transition: width .1s ease-in-out;
        }

        &__selected {
            display: none;
            width: 1.2rem;
            height: 1.2rem;
            // background: var(--black--0);
            border-radius: 50%;
            @include mq-720 {
                width: 2rem;
                height: 2rem;
            }

            &.visible {
                display: flex;
            }
        }

        &__title {
            font-size: 1.4rem;
            font-weight: 400;
            @include mq-720 {
                font-size: 2rem;
                }
        }
    }
}