@import '../../scss/mixins';
@import '../../scss/variables';

.hello {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }
    &__page-1, &__page-2 {
        padding: $padding--m;
        @include mq-720 {
            padding: $padding--l;
        }
    }
    &__page-2 {
        display: grid;
        flex-direction: column;
        background-color: var(--main);
        box-shadow: 0px -1px 0px 0px var(--secondary);

        &.hidden {
            box-shadow: inset 0px 1px 0px 0px var(--secondary);
        }

        @include mq-1024 {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mq-720x780 {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mq-1024v {
            grid-template-columns: auto;      
        }
    }

    &__description {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        &-grid {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            height: 100%;
            @include mq-720 {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            @include mq-360x780 {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            &-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: $padding--m;
                padding-bottom: $padding--m;
                gap: $gap--m;
                border-bottom: $border-dashed;

                &:nth-child(1) {
                    padding-top: 0;
                }
                &:nth-child(4) {
                    padding-bottom: 0;
                    border-bottom: none;
                }
    
                @include mq-720 {
                    &:nth-child(1) {
                        border-right: $border-dashed;
                    }
                    &:nth-child(2) {
                        padding-top: 0;
                    }
                    &:nth-child(3) {
                        padding-bottom: 0;
                        border-right: $border-dashed;
                        border-bottom: none;
                    }
                    &:nth-child(2n) {
                        padding-left: $padding--m;
                    }
                }
                @include mq-1024 {
                    padding-top: $padding--l;
                    padding-bottom: $padding--l;
                    &:nth-child(2n) {
                        padding-left: $padding--l;
                    }
                }
              
                @include mq-360x780 {
                    padding-bottom: $padding--l;
                    &:nth-child(1), &:nth-child(3) {
                        border-right: $border-dashed;
                    }
                    &:nth-child(3), &:nth-child(4) {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                    &:nth-child(1), &:nth-child(2) {
                        padding-top: 0;
                    }
                    &:nth-child(2n) {
                        padding-left: $padding--m;
                    }
                }
                @include mq-720x780 {
                    &:nth-child(2n) {
                        padding-left: $padding--l;
                    }
                }
            }
        }
    }
    &__list {
        &--fields, &--tools {
            display: grid;
            gap: $gap--l;
            @include mq-1024 {
                gap: $gap--l;
            }
            @include mq-780v {
                gap: $gap--s;
            }
            @include mq-720x780 {
                gap: $gap--l;
            }
        }
        &--tools {
            grid-template-columns: repeat(2, 1fr);
            @include mq-360x780 {
                grid-template-columns: repeat(2, 1fr);
            }
            @include mq-720x780 {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $gap--l;

            &:nth-child(1) {
                padding-bottom: $padding--m;
                border-bottom: $border-dashed;
            }
            &:nth-child(2) {
                padding-top: $padding--m;
            }
            @include mq-720 {
                gap: $gap--l;

                &:nth-child(1) {
                    padding-bottom: $padding--l;
                }
                &:nth-child(2) {
                    padding-top: $padding--l;
                    padding-bottom: $padding--l;
                }
            }
            @include mq-1024 {
                &:nth-child(1), &:nth-child(2) {
                    padding-bottom: 0;
                }
                &:nth-child(1) {
                    border-right: $border-dashed;
                    border-bottom: none;
                }
                &:nth-child(2) {
                    padding-top: 0;
                    padding-left: $padding--l;
                }
            }
            @include mq-780v {
                gap: $gap--m;
            }
            @include mq-360x780 {
                &:nth-child(1) {
                    border-right: none;
                    border-bottom: $border-dashed;
                }
            }
            @include mq-720x780 {
                gap: $gap--l;
                &:nth-child(1) {
                    padding-bottom: 0;
                    border-right: $border-dashed;
                    border-bottom: none;
                }
                &:nth-child(2) {
                    padding-top: 0;
                    padding-left: $padding--m;  
                }
            }
            @include mq-1024v {
                &:nth-child(1) {
                    padding-bottom: 0;
                    border-right: none;
                    border-bottom: $border-dashed;
                }
                &:nth-child(2) {
                    padding-top: $padding--l;
                    padding-left: 0;  
                }
            }

            .list-item {
                display: flex;
                align-items: center;
                gap: $gap--s;
        
                @include mq-1024 {
                    align-items: center;
                }
                @include mq-780v {
                    gap: $gap--xs;
                }
            }
        }
    }
}
// Dark mode
.dark {
    .hello {
        &__page-2 {
            box-shadow: 0px -1px 0px 0px var(--secondary-dark);
            background-color: var(--main-dark);

            &.hidden {
                box-shadow: inset 0px 1px 0px 0px var(--secondary-dark);
            }
        }
        &__description-grid-item, &__list-box {
            border-color: $color-border--dark;
        }
    }
}