@import '../../scss/mixins';

.hello {
    display: flex;
    flex-direction: row;

    [class^='hello__main-block'] {
        display: flex;
        flex: 1;
    }

    &__main {
        gap: 0;
        overflow: auto;

        &-page {
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        &--page-1, &--page-2 {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 1.2rem;

            @include mq-720 {
                flex-direction: row;
                padding: 2.4rem;
            }
        }
        &--page-1 {
            &.hidden {
                opacity: 0;
            }
        }
        &--page-2 {
            position: absolute;
            inset: 0 0 0 0;

            @include mq-720 {
                gap: 3.2rem;
            }

            &.hidden {
                opacity: 0;
            }
        }
    }
    
    
    &__description-block {
        &--1, &--2 {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 2.4rem;
            @include mq-720 {
                font-size: 4rem;
            }
        }
        &--1 {
            border-bottom: 1px dashed;
            padding-bottom: 1.2rem;
            @include mq-720 {
                padding: 0;
                padding-right: 2.4rem;
                border: none;
                border-right: 1px dashed;
            }
        }
        &--2 {
            padding-top: 1.2rem;
            @include mq-720 {
                margin-left: 2.4rem;
            }
        }
        
        &--1 > div, &--2 > div {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            @include mq-720 {
                flex: 1;
            }

            & p {
                width: 60%;
                font-weight: 300;
            }
        }
        
    }

    &__description {
        &-number--1, &-number--2 {
            font-size: 2.4rem;
            font-weight: 600;
            font-style: italic;
            @include mq-720 {
                font-size: 4rem;
            }
        }
    }
   
    &__fields {
        flex: 1;
        display: flex;
        flex-direction: column;
        &-title {
            font-size: 2.4rem;
            font-weight: 600;
            font-style: italic;
            padding-bottom: 1.2rem;
            @include mq-720 {
                font-size: 4rem;;
                padding-bottom: 2.4rem;
            }
        }

        &-list {
            flex: 1;
            margin: 0;
            display: flex;
            flex-direction: column;
    
            
            &-item {
                flex: 1;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 1.2rem 1.2rem 1.2rem 0;
                border-top: 1px dashed;
                font-size: 2rem;
                @include mq-720 {
                    padding: 2.4rem 2.4rem 2.4rem 0;
                    font-size: 4rem;
                    font-weight: 300
                }
    
                & span {
                    font-size: 1.4rem;
                    font-weight: 300;
                    @include mq-720 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    &__tools {
        flex: 1;
        display: flex;
        flex-direction: column;
        &-title {
            font-size: 2.4rem;
            font-weight: 600;
            font-style: italic;
            padding-bottom: 1.2rem;
            @include mq-720 {
                font-size: 4rem;
                padding-bottom: 2.4rem;
            }
        }

        &-grid {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            border: 1px dashed;
            padding: 1.2rem;

            &-item {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;

                @include mq-720 {
                    font-size: 4rem;
                    font-weight: 300;
                }

                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    align-items: flex-start;
                }
                &:nth-child(7), &:nth-child(8), &:nth-child(9) {
                    align-items: flex-end;
                }
                &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                    justify-content: flex-start;
                }
                &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                    justify-content: flex-end;
                }
            }
        }

        &-item {
            font-size: 2rem;
        }
    }

    &__page-switch {
        appearance: none;

        &:checked {
            & ~ label {
                & .hello__page-toggler-arrow {
                    border-left: none;
                    border-right: 1px solid;
                }
            }
        }
    }

    &__page-toggler {
        display: flex;
        align-items: center;
        border-top: 1px solid;
        &-block {
            flex: 1;
            display: flex;
            flex-direction: row;
        }
        &-number {
            font-size: 2rem;
            @include mq-720 {
                font-size: 3.2rem;
            }
        }

        &-content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 4.8rem;
            border-radius: 4.8rem;
            padding: 0 1.2rem;
            gap: 1.2rem;
            font-size: 2rem;
            font-weight: 300;
            @include mq-720 {
                padding: 2.4rem;
            }
        }
    }
}

