@import '../../scss/mixins';
@import '../../scss/variables';

.hello {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }
    &__page-2 {
        display: flex;
        flex-direction: column;
        background-color: var(--main);
        box-shadow: 0px -1px 0px 0px var(--secondary);
        @include mq-1024 {
            flex-direction: row;
        }
        @include mq-720x720 {
            flex-direction: row;
        }
        &.hidden {
            box-shadow: inset 0px 1px 0px 0px var(--secondary);
        }
    }

    &__description {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        &-grid {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            height: 100%;

            @include mq-720 {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            @include mq-360x720 {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
            &-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: $gap--m;
                padding: $padding--m;
                border-bottom: 1px dashed var(--secondary);
    
                &:nth-last-child(1) {
                    border-bottom: none;
                }
    
                @include mq-720 {
                    padding: $padding--l;
                    &:nth-child(1) {
                        border-right: 1px dashed var(--secondary);
                    }
                    &:nth-last-child(2) {
                        border-right: 1px dashed var(--secondary);
                        border-bottom: none;
                    }
                }
                @include mq-360x720 {
                    &:nth-child(1) {
                        border-right: 1px dashed var(--secondary);
                    }
                    &:nth-last-child(2) {
                        border-right: 1px dashed var(--secondary);
                        border-bottom: none;
                    }
                }
            }
        }
    }
    &__list {
        &--fields, &--tools {
            display: grid;
            gap: $gap--l;
            @include mq-1024 {
                gap: $gap--l;
            }
            @include mq-720v {
                gap: $gap--s;
            }
            @include mq-720x720 {
                gap: $gap--l;
            }
        }
        &--tools {
            grid-template-columns: repeat(2, 1fr);
            
            @include mq-360x720 {
                grid-template-columns: repeat(2, 1fr);
            }
            @include mq-720x720 {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: $padding--m;
            gap: $gap--l;

            @include mq-720 {
                padding: $padding--l;
                gap: $gap--xl;
            }
            @include mq-720v {
                padding: $padding--m;
                gap: $gap--m;
            }
            @include mq-720x720 {
                padding: $padding--l;
                gap: $gap--xl;
            }
            &:nth-child(1) {
                border-bottom: 1px dashed var(--secondary);

                @include mq-1024 {
                    border-right: 1px dashed var(--secondary);
                    border-bottom: none;
                }
                @include mq-360x720 {
                    border-right: none;
                    border-bottom: 1px dashed var(--secondary);
                }
                @include mq-720x720 {
                    border-right: 1px dashed var(--secondary);
                    border-bottom: none;
                }
            }
            .list-item {
                display: flex;
                align-items: center;
                gap: $gap--s;
        
                @include mq-1024 {
                    align-items: center;
                }
                @include mq-720v {
                    gap: $gap--xs;
                }
            }
        }
    }
}