@import '../../scss/mixins';
@import '../../scss/variables';

.navbar {
    display: flex;
    flex-direction: row;
    border-radius: $unit*2;
    overflow: hidden;

    @include mq-720 {
        border-radius: $unit*3;
    }
 
    &-item {
        flex: 1;
        display: flex;
        text-transform: uppercase;
        position: relative;
        color: var(--secondary);
        overflow: hidden;

        &::after {
            background-color: var(--secondary);
        }

        &:nth-child(1) {
            background-color: var(--grey-100);
            &::before {
                background-color: var(--blue);
            }
        }
        &:nth-child(2) {
            background-color: var(--grey-200);
            &::before {
                background-color: var(--green);
            }
        }
        &:nth-child(3) {
            background-color: var(--grey-300);
            &::before {
                background-color: var(--pink);
            }
        }

        &::before, &::after {
            position: absolute;
            top: 100%;
            bottom: 0;
            width: 100%;
            transition: top .3s cubic-bezier(.34,.79,.73,.92);
            content: '';
        }
        
        &__title-container, &__title-container--active {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $padding--s $padding--s;
            overflow: hidden;
            transition: transform .3s cubic-bezier(.34,.79,.73,.92);
        }
        &__title-container--active {
            z-index: 1;
            position: absolute;
            inset: 0 0 0 0;
            width: 100%;
            overflow: hidden;
            transform: translateY(100%);
        }
        &__title--active {
            color: var(--main);
        }

        /* Navbar item states */
        &:hover {
            &::before {
                top: 0;
            } 
        }

        &.active {
            &::after {
               top: 0;
            }
            .navbar-item__title-container {
                transform: translateY(-100%);
            }
            .navbar-item__title-container--active {
                transform: translateY(0);
            }
        }
    }
}