@import '../../scss/mixins';
@import '../../scss/variables';

.navbar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: $border-solid;
    &-item {
        flex: 1;
        display: flex;
        text-transform: uppercase;
        position: relative;
        color: var(--secondary);
        border-right: $border-solid;
        overflow: hidden;
        transition: $trns---color, $trns---bg-color;

        &::after {
            background-color: var(--secondary);
        }
        &:nth-child(1) {
            &::before {
                background-color: var(--blue);
            }
        }
        &:nth-child(2) {
            &::before {
                background-color: var(--green);
            }
        }
        &:nth-child(3) {
            border-right: none;
            &::before {
                background-color: var(--pink);
            }
        }
        &::before, &::after {
            position: absolute;
            top: 100%;
            bottom: 0;
            width: 100%;
            transition: top .3s $cubic-bezier;
            content: '';
        }
        &__title-container, &__title-container--active {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $padding--s $padding--s;
            overflow: hidden;
            transition: transform .3s $cubic-bezier;

            @include mq-480 {
                justify-content: space-between;
                padding: $padding--s $padding--m;
            }
            @include mq-1024 {
                padding: $padding--m $padding--l;
            }
        }
        &__title-container--active {
            z-index: 1;
            position: absolute;
            inset: 0 0 0 0;
            width: 100%;
            overflow: hidden;
            transform: translateY(100%);
        }
        &__index, &__index--active {
            display: none;
            @include mq-480 {
                display: block;
            }
        }
        &__title--active, &__index--active {
            color: var(--main);
        }
        /* Navbar item states */
        &:hover {
            &::before {
                top: 0;
            } 
        }

        &.active {
            &::after {
               top: 0;
            }
            .navbar-item__title-container {
                transform: translateY(-100%);
            }
            .navbar-item__title-container--active {
                transform: translateY(0);
            }
        }
    }
}
// Dark mode
.dark {
    .navbar {
        border-color: $color-border--dark;
        &-item {
            color: var(--secondary-dark);
            border-color: var(--secondary-dark);
            &::after {
                background-color: var(--secondary-dark);
            }
            &:nth-child(1) {
                &::before {
                    background-color: var(--blue-dark);
                }
            }
            &:nth-child(2) {
                &::before {
                    background-color: var(--green-dark);
                }
            }
            &:nth-child(3) {
                &::before {
                    background-color: var(--pink-dark);
                }
            }
            &__title--active, &__index--active {
                color: var(--main-dark);
            }
        } 
    }
}