.contact {
    color: var(--white--300);
    
    &__content {
        gap: 1.2rem;
    }
    &__subtitle {
        display: flex;
        align-items: flex-end;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 1.4rem;
    }

    &__mail {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__sublinks-list {
        display: flex;
        justify-content: space-between;
        &-item {
        }
    }
}

.link--contact-mail {
    color: var(--white--300);
    font-size: 9.6rem;
    font-weight: 600;
    text-align: left;
}
.link--contact-sublink {
    font-size: 1.6rem;
    color: var(--white--300);
}