@import '../../scss/mixins';
@import '../../scss/variables';

.work {
    flex-direction: row;
    transition: transform .3s ease-in-out, opacity .2s ease-in-out;
    
    &__main {
        gap: 0;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        padding: 1.2rem;
        overflow: hidden;
        @include mq-720 {
            padding: 2.4rem;
        }

        &-text {
            opacity: 0;
            flex: 1;
            transform: translateY(-4.8rem);
            font-size: $fs--m;
            font-weight: 200;
            text-align: center;
            border-left: 1px solid;
            border-right: 1px solid;
            border-radius: 2.4rem;
        }
    }

    &__projects-grid {
        flex: 1;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        max-height: 0;
        border-top: 1px solid;
        overflow: hidden;

        @include mq-720 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.2rem;
            border-bottom: 1px solid;
            gap: 1.2rem;
            color: var(--black);
            overflow: hidden;
            position: relative;

            &::after {
                position: absolute;
                inset: 100%  0 0 0;
                content: '';
                background-color: var(--black);
                transition: inset .3s ease-in-out;
            }

            &-number, &-title, &-title--hover, &-arrow {
                z-index: 1;
            }

            &-number {
                display: flex;
                transition: all .3s ease-in-out;
                
                @include mq-720 {
                    font-size: $fs--xs-desktop;
                }

                &-text {
                    opacity: 0;
                    font-size: $fs--s;
                    font-family: $ff--literata;
                    font-weight: 200;
                    transform: translateY(-15rem);
                }
            }

            &-title {
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: opacity .2s ease-in-out, transform .3s ease-in-out;
                overflow: hidden;

                &-text {
                    z-index: 1;
                    opacity: 0;
                    font-size: 4rem;
                    font-weight: 200;
                    transform: translateY(-4.8rem);
                    @include mq-720 {
                        font-size: $fs--l-desktop;
                    }
                }
            }

            &-arrow {
                display: flex;
                justify-content: flex-end;
            }

            &-title--hover {
                display: none;
                opacity: 0;
                position: absolute;
                bottom: 2.4rem;
                left: 2.4rem;
                font-size: $fs--l;
                font-weight: 300;
                transform: translateY(100%);
                transition: all .2s ease-in-out;
                @include mq-720 {
                    display: block;
                }
            }

            & p {
                text-align: center;
            }

            &:nth-last-child(1) {
                border-bottom: none;
            }

            &.after--black::after {
                background-color: var(--black);
            }
            &.after--red::after {
                background-color: var(--red);
            }
            &.after--yellow::after {
                background-color: var(--yellow);
            }
            &.after--blue::after {
                background-color: var(--blue);
            }

            @include mq-720 {
                &:nth-child(1), &:nth-child(2) {
                    border-bottom: 1px solid;
                }
                &:nth-child(1), &:nth-child(3) {
                    border-right: 1px solid;
                }
                &:nth-child(3) {
                    border-bottom: none;
                }
            }
        }
    }

    &.active {
        .work__projects-grid {
            max-height: 100%;
            transition: max-height .4s .3s;
        }
        .work__projects-grid-item-number-text, .work__projects-grid-item-title-text, .work__subtitle-text {
            opacity: 1;
            transform: none;
        }
        .work__projects-grid-item {
            &:hover {
                .work__projects-grid-item-number {
                    @include mq-720 {
                        transform: translateY(-4rem);
                    }
                }
                .work__projects-grid-item-title {
                    @include mq-720 {
                        opacity: 0;
                        transform: translate(-50%, -150%);
                    }
                }
                .work__projects-grid-item-arrow > .arrow--projects {
                    @include mq-720 {
                        color: var(--white);
                        width: 6.4rem;
                        height: 6.4rem;
                    }
                }
                .work__projects-grid-item-title--hover {
                    opacity: 1;
                    color: var(--white);
                    transform: none;
                }
                &::after {
                    @include mq-720 {
                        inset: 0 0 0 0; 
                    }
                    
                }
            }
        }
    }
}