@import '../../scss/mixins';
@import '../../scss/variables';

.work {
    flex-direction: row;
    transition: transform .3s ease-in-out, opacity .2s ease-in-out;
    
    &__main {
        gap: 0;
        position: relative;
        overflow: hidden;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        padding: 1.2rem;
        
        overflow: hidden;
        @include mq-720 {
            padding: 2.4rem;
        }

        &-text {
            flex: 1;
            // opacity: 0;
            // transform: translateY(-4.8rem);
            // font-size: $fs--m;
            text-align: center;
            
            @include mq-720 {
                // font-size: $fs--m;
            }
            @include mq-1024 {
                // font-size: $fs--m;
            }
        }
    }
    &__projects-grid, &__single-project {
        transition: transform .6s ease-in-out;
    }

    &__projects-grid {
        flex: 1;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        transform: translateY(0);
        z-index: 3;
        overflow: hidden;
        

        @include mq-720 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        &.hidden {
            transform: translateY(-100%);
        }
    }
    &__single-project {
        display: flex;
        flex-direction: column;
        transform: translateY(0);
        position: absolute;
        inset: 0 0 0 0;
    }

    // &.active {
    //     .work__projects-grid {
    //         max-height: 100%;
    //         transition: max-height .4s .3s;
    //     }
    //     .work__subtitle-text, .work__project-title-text, .work__project-number-text {
    //         opacity: 1;
    //         transform: translateY(0);
    //     }
    // }
}