@import '../../scss/mixins';
@import '../../scss/variables';

.single-project {
    // display: grid;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--white);
    z-index: 1;
    opacity: 1;

    @include mq-1024 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    

    &-header, &-main {
        padding: $padding--m;

        @include mq-720 {
            padding: $padding--l;
        }
        @include mq-1024 {
            padding: $padding--xl;
        }
    }
    &-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
       
        @include mq-1024 {
            border-bottom: none;
            border-right: 1px solid var(--black);
        }
        
    }
    &-title, &-subtitle {
        display: flex;
        justify-content: space-between;
        gap: $gap--m;

        &-item:nth-child(2) {
            display: flex;
            justify-content: flex-end;
        }

        h3, p, span {
            text-transform: uppercase;
            height: fit-content;
        }
    }

    &-image {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .img--project {
            width: clamp(16rem, 20vw, 34rem);
            height: clamp(16rem, 20vw, 34rem);
        }
    }
    
    &-main {
        display: flex;
        flex-direction: column;
        gap: $gap--l;
        display: grid;
        grid-template-rows: auto 1fr auto;

        @include mq-1024 {
            gap: $gap--xxl;
        }
    }
    

    &-description {
        width: 50%;
        @include mq-720 {
            max-width: 50%;
        }
    }
    &-attributes {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        gap: $gap--m;
        @include mq-1024 {
            gap: $gap--l;
        }
    }
    &-attribute {
        display: flex;
        flex-direction: column;
        gap: $gap--m;

        @include mq-1024 {
            gap: $gap--l;
        }
        
        h5 {
            text-transform: uppercase;
        }
    }
    &-attribute-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $gap--m;
        
        .list-item {
            display: flex;
            align-items: center;
            gap: $gap--m;

            @include mq-1024 {
                flex-direction: column;
                align-items: flex-start;
                gap: $gap--l;
            }
        }
        .span {
            font-size: $fs--xs;
        }
    }
    &-links {
        display: flex;
        justify-content: space-between;
        gap: $fs--m;
    }
}