@import '../../scss/mixins';
@import '../../scss/variables';

.single-project {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    z-index: 1;
    opacity: 1;

    @include mq-1024 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    @include mq-720x780 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    @include mq-1024v {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
    }

    &__header, &__main {
        padding: $padding--m;
        @include mq-1024 {
            padding: $padding--l;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px dashed;
 
        @include mq-1024 {
            border-bottom: none;
            border-right: 1px dashed;
        }
        @include mq-720x780 {
            border-right: 1px dashed;
            border-bottom: none;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            .title {
                text-align: center;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .type {
                text-transform: uppercase;
            }
        }
    }
    &-row {
        display: flex;
        gap: $gap--m;
    }
    &-subtitle {
        justify-content: space-between;
    }
    &__main {
        display: flex;
        flex-direction: column;
        gap: $gap--l;
        display: grid;
        grid-template-rows: auto 1fr auto;

        @include mq-1024 {
            gap: $gap--xl;
        }
    }
    &-description {
        max-width: 75%;
    }
    &-attributes {
        gap: $gap--m;
        @include mq-1024 {
            gap: $gap--l;
        }
    }
    &-attribute {
        display: flex;
        flex-direction: column;
        gap: $gap--m;
        
        @include mq-720 {
            gap: $gap--l;
        }
    }
    &-attribute-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: $gap--m;
        row-gap: $gap--m;
        @include mq-360 {
            grid-template-columns: repeat(3, 1fr);
        }
        @include mq-780v {
            column-gap: $gap--s;
            row-gap: $gap--s;
        }
        @include mq-360x780 {
            grid-template-columns: repeat(3, 1fr);
            column-gap: $gap--m;
            row-gap: $gap--m;
        }
        @include mq-720x780 {
            grid-template-columns: repeat(2, 1fr);
            column-gap: $gap--m;
            row-gap: $gap--m;
        }
        .list-item {
            display: flex;
            align-items: center;
            gap: $gap--xs;

            @include mq-1024 {
                flex-direction: column;
                align-items: flex-start;
                gap: $gap--l;
            }
        }
    }
    &-links {
        display: flex;
        justify-content: space-between;
        gap: $fs--m;
    }
}