@import '../../scss/mixins';
@import '../../scss/variables';

.home {
    display: flex;
    flex-direction: column;
    gap: $gap--s;
    padding: $padding--m;
    position: relative;

    @include mq-1024 {
        padding: $padding--l;
    }
    
    &__header {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        z-index: 3;

        &-title {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 40%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            @include mq-720 {
                top: 50%;
                left: 50%;
                max-width: 100%;
                transform: translate(-50%,-48%);
                justify-content: center;
            }
        }
        &-subtitle {
            position: absolute;
            display: flex;
            justify-content: space-between;
            inset: auto 0 0 0;
        }
        &-timer {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            right: 0;
            overflow: hidden;
        }
        &-light-toggler {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
        }
    }
    &__main {
        position: absolute;
        display: flex;
        padding: 40% 20%;
        inset: 0 0 0 0;

        @include mq-720 {
            padding: 12rem 12rem;
        }
        @include mq-1024 {
            padding: 16rem 16rem;
        }
        &-round-box {
            flex: 1;
            display: flex;
            border: 1px dashed;
            border-radius: 12rem;
            position: relative;
            
            @include mq-720 {
                border-radius: 32rem;
            }

            @include mq-1024 {
                border-radius: 48rem;
            }

            &:before,&:after {
                position: absolute;
                content: '';
            }
            &:before {
                top: 50%;
                right: 50%;
                bottom: 50%;
                left: 0;
                border-right: 1px dashed;
                @include mq-720 {
                    inset: 50% 50% 50% 0;
                }
            }
            &:after {
                top: 50%;
                right: 50%;
                bottom: 0;
                left: 50%;
                border-top: 1px dashed;
                @include mq-720 {
                    top: 50%;
                    right: 50%;
                    bottom: 0;
                    left: 50%;
                }
            }
        }
    }
    &.active {
        .home__main-round-box {
            &:before {
                top: 25%;
                right: 50%;
                bottom: 25%;
                left: 0;
                transition: top .4s .1s, right .4s .1s, bottom .4s .1s, left .4s .1s;
                @include mq-720 {
                    top: 12%;
                    right: 50%;
                    bottom: 12%;
                    left: 0;
                }
            }
            &:after {
                top: 50%;
                right: 20%;
                bottom: 0;
                left: 20%;
                transition: top .4s .1s, right .4s .1s, bottom .4s .1s, left .4s .1s;
                @include mq-720 {
                    top: 50%;
                    right: 12%;
                    bottom: 0;
                    left: 12%;
                }
            }
        }
    }
}