@import '../../scss/mixins';

.home {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__main {
        flex: 1;
        display: flex;
        padding: 16%;
        border: 1px solid;
        
        @include mq-720 {
            padding: 8%;
        }
    }
    &__description {
        font-size: 2rem;
        font-weight: 300;
        text-transform: lowercase;
        text-align: center;
        @include mq-720 {
            font-size: 4rem;
        }
    }
    &-title {
        font-size: 2.4rem;
        font-weight: 400;
        @include mq-720 {
            font-size: 4.8rem;
        }
    }
    &-blank-box {
        width: 4.8rem;
        height: 4.8rem;
        border: 1px solid;
    }
    &-subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        font-style: italic;
        text-align: right;
    }
    &-ellipse {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 500rem;
        @include mq-720 {
            padding: 2.4rem;
        }
    }
}