@import '../scss/mixins';
@import '../scss/variables';

.app {
    display: flex;
    height: 100dvh;
    flex-direction: column;
    padding: $padding--m;
    background-color: var(--main);
    z-index: 3;
    position: relative;
    overflow: hidden;
    transition: background-color .4s ease-in-out;
    @include mq-720 {
      padding: $padding--l;
    }
    @include mq-1024 {
      padding: $padding--xl;
    }
  }
  
.dark .app {
  background-color: var(--main-dark);
  color-scheme: dark;
}