@import '../scss/variables';

.btn {
    &--hello-page-toggler {
        display: flex;
        appearance: none;
        cursor: pointer;
        border: none;
        outline: none;
        border-top: 1px solid;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
}