@import '../scss/variables';

.btn {
    appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    &--select-project {
        position: absolute;
        inset: 0 0 0 0;
        width: auto;
        height: auto;
    }
    &--close-project, &--hello-toggler {
        z-index: 2;
        display: flex;
        position: absolute;
        right: $padding--m;
        background-color: var(--main);
        border: 1px solid var(--secondary);
        transform: translateY(0);
        transition: transform .2s .6s cubic-bezier(.34,.79,.73,.92);
        @include mq-720 {
            right: $padding--l;
        }
        .btn {
            display: flex;
            align-items: center;
            transition: padding .2s cubic-bezier(.34,.79,.73,.92);
            padding: $padding--m*1.2 $padding--s $padding--m*1.2 $padding--s;
            &:hover {
                padding-top: $padding--xl;
            }
            @include mq-360 {
                padding: $padding--l $padding--s $padding--m*1.2 $padding--s;
            }
            @include mq-720 {
                padding: $padding--l*1.2 $padding--s $padding--m*1.2 $padding--s;
                &:hover {
                    padding-top: $padding--xl*1.5;
                }
            }
            @include mq-1024 {
                padding: $padding--l*1.3 $padding--m $padding--m*1.5 $padding--m;
            }
            @include mq-780v {
                padding: $padding--m*1.2 $padding--s $padding--m $padding--s;
            }
            @include mq-360x780 {
                padding: $padding--m*1.2 $padding--s $padding--m*1.2 $padding--s;
            }
            @include mq-720x780 {
                padding: $padding--l*1.3 $padding--s $padding--m*1.2 $padding--s;
                &:hover {
                    padding-top: $padding--xl*1.2;
                }
            }
        }
        .burger, .burger::before {
            width: $fs--m;
            height: 1px;
            background-color: var(--secondary);
            @include mq-780v {
                width: $fs--s;
            }
        }
        .burger::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
        }
    }
    &--close-project {
        top: 0;
        border-bottom-right-radius: $unit*3;
        border-bottom-left-radius: $unit*3;
        border-top: none;
        &.hidden {
            transform: translateY(-100%);
            transition: transform .2s cubic-bezier(.34,.79,.73,.92);
        }
        .btn {
            .burger {
                transform: rotate(45deg);
            }
            .burger::before {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
    &--hello-toggler {
        &.prev {
            z-index: 3;
            top: 0;
            border-top: none;
            border-bottom-right-radius: $unit*3;
            border-bottom-left-radius: $unit*3;
            &.hidden {
                transform: translateY(-100%);
                transition: transform .2s cubic-bezier(.34,.79,.73,.92);
            }
            .btn {
                .burger::before {
                    content: none;
                }
            }
        }
        &.next {
            z-index: 1;
            bottom: 0;
            border-bottom: none;
            border-top-right-radius: $unit*3;
            border-top-left-radius: $unit*3;
            &.hidden {
                transform: translateY(100%);
                transition: transform .2s cubic-bezier(.34,.79,.73,.92);
            }
            .btn {
                padding: $padding--m*1.2 $padding--s $padding--m*1.2 $padding--s;
                &:hover {
                    padding-bottom: $padding--xl;
                }
                @include mq-360 {
                    padding: $padding--m*1.2 $padding--s $padding--l $padding--s;
                }
                @include mq-720 {
                    padding: $padding--m*1.2 $padding--s  $padding--l*1.2 $padding--s;
                    &:hover {
                        padding-bottom: $padding--xl*1.5;
                    }
                }
                @include mq-1024 {
                    padding: $padding--m*1.5 $padding--m $padding--l*1.3 $padding--m;
                    
                }
                @include mq-780v {
                    padding: $padding--m $padding--s $padding--m*1.2 $padding--s;
                }
                @include mq-360x780 {
                    padding: $padding--m*1.2 $padding--s $padding--l $padding--s;
                }
                @include mq-720x780 {
                    padding: $padding--m*1.2 $padding--s $padding--l*1.3 $padding--s;
                    &:hover {
                        padding-bottom: $padding--xl*1.2;
                    }
                }
                .burger {
                    transform: rotate(0);
                }
                .burger::before {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    }
}