:root {
    --white: oklch(92.34% 0.019 110.07);
    --grey: oklch(80.14% 0.014 159.83);
    --grey--100: oklch(73.04% 0.016 158.11);
    --black: oklch(29.33% 0.025 156.33);
    --red: oklch(55.55% 0.184 30.9);
    --yellow: oklch(67.61% 0.139 110.55);
    --blue: oklch(58.52% 0.122 239.65);
}