:root {
    --white: oklch(99.73% 0.013 106.63);
    --black: oklch(30.26% 0.038 108.46);
    --green: oklch(55.03% 0.147 148.9);
    --green--100: oklch(76.01% 0.212 138.94);
    --blue: oklch(62.57% 0.205 254.88);
    --red: oklch(65.95% 0.236 1.54);
}