:root {
    --white: oklch(98.91% 0.021 98.11);
    --black: oklch(22.97% 0.031 108.62);
    --green: oklch(55.03% 0.147 148.9);
    --green--100: oklch(76.01% 0.212 138.94);
    --blue: oklch(62.57% 0.205 254.88);
    --red: oklch(65.95% 0.236 1.54);
}