@import '../scss/mixins';
.link {
    text-decoration: none;

    &--project-to-home {
        font-size: 2.4rem;
        color: var(--white--300);
        @include mq-720 {
            font-size: 3.2rem;
        }
    }

    &--project-visit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 1.2rem;
        font-size: 3.2rem;
        font-weight: 300;
        color: var(--white--300);
        position: relative;
        @include mq-720 {
            gap: 1.2rem;
            font-size: 4.8rem;
        }

        &:hover {
            & > .link--project-visit-text {
                transform: translateX(-1.2rem);
            }
        }
    
        &-text {
            z-index: 1;
            transition: color .15s ease-in-out;
        }
        & .arrow {
            border-left: 1px solid var(--grey--300);
            background-color: var(--white--300);
            color: var(--grey--300);
            z-index: 1;
        }
    }

    &--contact-mail {
        font-size: 8rem;
        font-weight: 300;
        text-align: left;
        position: relative;
        @include mq-720 {
            font-size: 12rem;
        }
        &::after {
            position: absolute;
            inset: calc(50% - .2rem) 100% calc(50% - .2rem) 0;
            content: '';
            background: var(--white--200);
            transition: inset .2s ease-in-out;
        }
        &:hover {
            &::after {
                inset: calc(50% - .2rem) 0 calc(50% - .2rem) 0;
            }
            
        }
    }
    &--contact-sublink {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.2rem;
        font-size: 1.6rem;
        text-align: center;
        @include mq-720 {
            padding: 2.4rem;
        }

        & > p {
            z-index: 1;
        }
        
        &:hover {
            & > p {
                color: var(--black--200);
            }
            &::before {
                position: absolute;
                inset: 0 0 0 0;
                content: '';
                background-color: var(--white--200);
            }
        }
    }
}
