@import '../scss/mixins';
@import '../scss/variables';

.link {
    text-decoration: none;

    &--to-home {
        display: flex;
        border-left: 1px solid;
        width: clamp(4.8rem, 3vw, 7.2rem);
        height: clamp(4.8rem, 3vw, 7.2rem);
        padding: 1.2rem;
        color: var(--black);
        position: relative;

        & p {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: $fs--m;
            font-weight: 300;
            transform: translate(-50%, -50%);
            z-index: 1;
            @include mq-720 {
                font-size: $fs--s-desktop;
            }
        }
        &::before {
            position: absolute;
            inset: 0 100% 0 0;
            content: '';
            transition: inset .1s ease-in-out;
        }
        &.color--blue::before {
            background-color: var(--blue);
        }
        &.color--black::before {
            background-color: var(--black);
        }
        &.color--white::before {
            background-color: var(--white);
        }
        &:hover {
            & p {
                color: var(--white);
                font-style: italic;
                text-decoration: line-through;
            }
            &::before {
                inset: 0 0 0 0;
            }
        }
        &.color--white:hover {
            & p {
                color: var(--black);
            }
        }
    }

    &--project-visit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.2rem;
        color: var(--black);
        font-size: $fs--l;
        font-weight: 300;

        &:hover {
            & > .link--project-visit-text {
                transform: translateX(-1.2rem);
            }
        }
    
        &-text {
            z-index: 1;
            transition: color .15s ease-in-out;
        }
        & .arrow {
            border-left: 1px solid var(--black);
            background-color: var(--white);
            color: var(--black);
            z-index: 1;
        }
    }
}
