.active {
    opacity: 1;
}
.going-to-next, .coming-from-next  {
    transform: translateX(-100%);
    opacity: 0;
}
.going-to-prev, .coming-from-prev {
    transform: translateX(100%);
    opacity: 0;
}