@import './variables';

html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  transition: $trns---color;
  color: var(--secondary);
}
.dark body {
  color: var(--secondary-dark);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
h1, h2, h3, h4, h5, h6, p, span, a, button {
  overflow-wrap: break-word;
  font-family: "source sans 3", Arial, Helvetica, sans-serif;
}
#root, #__next {
  isolation: isolate;
}
section, article, main {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
section {
  border: 1px solid;
  border-radius: $unit*2;
  overflow: hidden;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}