@import '../scss/mixins';
:root {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  // line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
}
#root, #__next {
  isolation: isolate;
}
section, article, main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @include mq-720 {
      gap: 2.4rem;
    }
}

main {
  // padding: 1.2rem;
  border: 1px solid;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}