.sliding {
    &-main {
        z-index: 0;
    }
    
    &-page-1, &-page-2 {
        position: absolute;
        inset: 0 0 0 0;
        transform: translateY(0);
        transition: transform .6s $cubic-bezier;
        &.hidden {
            transition: transform .6s $cubic-bezier;
        }
    }
    &-page {
        &-1 {
            &.hidden {
                transform: translateY(-100%);
            }
        }
        &-2 {
            &.hidden {
                transform: translateY(100%);
            }
        }
    }
}