h1, h2, h3, h4, h5, p, span, a, button {
    font-family: "nunito", Arial, Helvetica, sans-serif;
    font-size: $fs--m;
    font-weight: 300;
}

.navbar {
    .title, .title--active {
        font-size: $fs--s;
        font-weight: 300;

        @include mq-720 {
            font-size: $fs--m;
        }
        @include mq-720v {
            font-size: $fs--xs;
            font-weight: 400;
        }
    }
    .title {
        font-weight: 300;
    }
    .title--active {
        font-weight: 600;
        color: var(--main);
    }
}
.section__header {
    .section-index, .section-name, .link-text {
        font-size: $fs--m;
        font-weight: 300;
      
        @include mq-720v {
            font-size: $fs--xs;
            font-weight: 400;
        }
    }
}
.home {
    .title {
        font-size: $fs--l;
        font-weight: 300;
        @include mq-720 {
            text-align: center;
            font-size: $fs--xl;
            font-weight: 200;
        }
        @include mq-720v {
            font-size: $fs--m;
            font-weight: 300;
        }
    }
    .timer, .subtitle {
        font-size: $fs--s;
        font-weight: 300;
        @include mq-1024 {
            font-size: $fs--m;
        }
        @include mq-720v {
            font-size: $fs--s;
        }
    }
    .subtitle {
        text-transform: uppercase;
       
    }
}
.hello {
    .char, .list-title {
        font-size: $fs--s;
        font-weight: 300;
        @include mq-720 {
            font-size: $fs--m;
            font-weight: 300;
        }
        @include mq-1024 {
            font-size: $fs--s;
            font-weight: 300;
        }
        @include mq-720v {
            font-size: $fs--xs;
            font-weight: 400;
        }
    }
    .list-title {
        text-transform: uppercase;
    }
    .index, .text {
        font-size: $fs--l;
        font-weight: 200;
        @include mq-1024 {
            font-size: $fs--l;
            font-weight: 200;
        }
        @include mq-720v {
            font-size: $fs--s;
            font-weight: 300;
        }
    }
    
}
.project-tab {
    .title {
        font-size: $fs--l;
        font-weight: 200;
        @include mq-720v {
            font-size: $fs--m;
            font-weight: 300;
        }
        &--hover {
            text-transform: uppercase;
            color: var(--main);
            font-size: $fs--xl;
            font-weight: 200;
            @include mq-720v {
                font-size: $fs--s;
                font-weight: 300;
            }
        }
    }
    .index, .date, .type {
        font-size: $fs--s;
        font-weight: 300;
        @include mq-720v {
            font-size: $fs--xs;
            font-weight: 400;
        }
    }
}
.single-project {
    .title {
        font-size: $fs--xl;
        font-weight: 200;
        @include mq-720v {
            font-size: $fs--m;
            font-weight: 300;
        }
    }
    .list-title {
        text-transform: uppercase;
    }
    .description, .list-title, .tech {
        @include mq-1024 {
            font-size: $fs--l;
            font-weight: 200;
        }
    }
    .index, .date, .type, .description, .list-title, .tech, .link-text, .link-text--hover {
        @include mq-720v {
            font-size: $fs--s;
            font-weight: 300;
        }
    }
}
.contact {
    .subtitle {
        font-size: $fs--s;
        font-weight: 300;
        @include mq-720v {
            font-size: $fs--xs;
            font-weight: 400;
        }
        
    }
    .link--contact {
        .span, .span--hover {
            font-size: $fs--s;
            font-weight: 300;
            @include mq-720v {
                font-size: $fs--xs;
                font-weight: 400;
            }
        }
        .text {
            font-size: $fs--l;
            font-weight: 200;
            @include mq-720v {
                font-size: $fs--m;
                font-weight: 300;
            }
        }
        .text--hover {
            font-size: $fs--xl;
            font-weight: 200;
            @include mq-720v {
                font-size: $fs--m;
                font-weight: 300;
            }
        }
    }
    .bottom {
        font-size: $fs--xs;
        font-weight: 400;
    }
}

@font-face {
    font-family: "nunito";
    src: url("../../public/fonts/Nunito-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: light;
  }