h1, h2, h3, h4, h5, p, span, a, button {
    font-size: $fs--m;
    font-weight: 300;
}

.navbar {
    .title, .title--active, .index, .index--active {
        font-size: $fs--m;
    }
    .title, .index {
        font-weight: 500;
    }
    .title--active, .index--active {
        font-weight: 800;
    } 
    @include mq-480 {
        .title, .index {
            font-weight: 400;
        }
        .title--active, .index--active {
            font-weight: 600;
        }
    }
    @include mq-1024 {
        .title, .title--active, .index, .index--active {
            font-size: $fs--l;
        }
    }
    @include mq-780v {
        .title, .title--active, .index, .index--active {
            font-size: $fs--xs;
        }
        .title, .index {
            font-weight: 500;
        }
        .title--active, .index--active {
            font-weight: 600;
        }
    }
}
.section__header {
    .section-name, .link-text {
        font-size: $fs--m;
        font-weight: 500;
    }
    .section-index {
        font-size: $fs--xs;
        line-height: $fs--xs;
        font-weight: 500;
    }
    @include mq-780v {
        .section-index, .section-name, .link-text {
            font-size: $fs--xs;
            font-weight: 500;
        }
    }
}
.home {
    .title {
        font-size: $fs--xl;
        font-weight: 600;
    }
    .timer, .subtitle {
        font-size: $fs--s;
        font-weight: 500;
    }
    @include mq-360 {
        .title {
            font-weight: 600;
        }
        .timer, .subtitle {
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    @include mq-720 {
        .title {
            text-align: center;
            font-size: $fs--xl;
            font-weight: 400;
        }
        .timer, .subtitle {
            font-size: $fs--s;
        }
    }
    @include mq-1024 {
        .title {
            font-size: $fs--xxl;
        }
    }
    @include mq-780v {
        .title {
            font-size: $fs--m;
        }
        .timer, .subtitle {
            font-size: $fs--s;
        }
    }
}
.hello {
    .list-title {
        text-transform: uppercase;
    }
    .char, .index {
        font-size: $fs--s;
        font-weight: 600;
    }
    .list-title {
        font-size: $fs--xs;
        font-weight: 500;
    }
    .text {
        font-size: $fs--l;
        font-weight: 500;
    }
    @include mq-360 {
        .text {
            font-weight: 400;
        }
        .char, .index {
            font-weight: 500;
        }
    }
    @include mq-1024 {
        .list-title {
        }
        .text {
            font-size: $fs--l;
            font-weight: 400;
        }
    }
    @include mq-360x780 {
        .char, .index {
            font-size: $fs--xs;
            font-weight: 500;
        }
    }
    @include mq-780v {
        .list-title {
            font-size: $fs--xs;
            font-weight: 500;
        }
        .text {
            font-size: $fs--s;
        }
    }
}
.project-tab {
    .title, .title--hover {
        font-weight: 400;
    }
    .title {
        font-size: $fs--l;
    }
    .title--hover {
        text-transform: uppercase;
        font-size: $fs--xl;
    }
    .index, .date, .type {
        font-size: $fs--xs;
        font-weight: 500;
    }
    @include mq-480 {
       
    }
    @include mq-360x780 {
        .index, .date, .type {
            font-size: $fs--xs;
        }
    }
    @include mq-780v {
        .title {
            font-size: $fs--m;
        }
        .title--hover {
            font-size: $fs--m;
        }
    }
}
.single-project {
    .title {
        font-size: $fs--xl;
        font-weight: 400;
    }
    .list-title {
        text-transform: uppercase;
    }
    .text, .link-text, .link-text--hover {
        font-size: $fs--l;
        font-weight: 400;
    }
    .index, .type, .date, .list-title {
        font-size: $fs--xs;
        font-weight: 500;
    }
    @include mq-1024 {
        .text {
            font-size: $fs--l;
        }
    }
    @include mq-780v {
        .title {
            font-size: $fs--m;
        }
        .text, .link-text, .link-text--hover {
            font-size: $fs--s;
        }
    }
}
.contact {
    .text {
        font-size: $fs--xs;
        font-weight: 500;
    }
    @include mq-780v {
        .text {
            font-size: $fs--xs;
        }
    }
    .link--contact {
        .text, .link-span, .link-span--hover {
            font-size: $fs--xs;
            font-weight: 400;
        }
        .link-text {
            font-size: $fs--l;
            font-weight: 400;
        }
        .link-text--hover {
            font-size: $fs--xl;
            font-weight: 400;
        }
        .span--hover {
            font-weight: 600;
        }
        @include mq-360 {
            .text, .link-span, .link-span--hover {
            }
            .link-text {
            }
        }
        @include mq-780v {
            .text, .link-span, .link-span--hover {
                font-size: $fs--xs;
            }
            .link-text {
                font-size: $fs--m;
            }
            .link-text--hover {
                font-size: $fs--m;
            }
        }
    }
}

@font-face {
    font-family: "source sans 3";
    src: url("../../public/fonts/SourceSans3-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: light;
}