// ** COLORS **

// colors
.color--white--300 {
    color: var(--white--300);
}
.color--black--0 {
    color: var(--black--0);
}
.color--black--100 {
    color: var(--black--100);
}
.color--blue--0 {
    color: var(--blue--0);
}
.color--green {
    color: var(--green);
}
.color--red {
    color: var(--red);
}

// background
.color-bg--white--0 {
    background-color: var(--white--0);
}
.color-bg--white--100 {
    background-color: var(--white--100);
}
.color-bg--white--200 {
    background-color: var(--white--200);
}
.color-bg--white--300 {
    background-color: var(--white--300);
}
.color-bg--blue--100 {
    background-color: var(--blue--100);
}
.color-bg--black--0 {
    background-color: var(--black--0);
}
.color-bg--black--100 {
    background-color: var(--black--100);
}
.color-bg--blue--0 {
    background-color: var(--blue--0);
}
.color-bg--green {
    background-color: var(--green);
}
.color-bg--red {
    background-color: var(--red);
}


// Fonts
.underline {
    text-decoration: underline;
}