// ** COLORS **

// colors
.color--main {
    color: var(--main);
}
.color--secondary {
    color: var(--secondary);
}

// Border
// .border-bottom--s {
//     border-bottom: 1px solid;
// }
// .border-bottom--d {
//     border-bottom: 1px dashed;
// }

// // Size
// .max-w--80 {
//     max-width: 80%;
// }
// .max-w--90 {
//     max-width: 90%;
// }
// Display
.flex-1 {
    flex: 1;
}
.flex {
    display: flex;
}
.flex--row {
    display: flex;
    flex-direction: row;
}
.flex--column {
    display: flex;
    flex-direction: column;
}
.ai--center {
    align-items: center;
}
.ai--start {
    align-items: flex-start;
}
.ai--end {
    align-items: flex-end;
}
.jc--center {
    justify-content: center;
}
.jc--start {
    justify-content: flex-start;
}
.jc--end {
    justify-content: flex-end;
}
.jc--between {
    justify-content: space-between;
}
.overflow--hidden {
    overflow: hidden;
}

// Fonts
.ff--literata {
    font-family: 'Literata', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.underline {
    text-decoration: underline;
}

.ta--right {
    text-align: right;
}
.ta--center {
    text-align: center;
}
.ta--left {
    text-align: left;
}
// Before
.hover--bg-b {
    position: relative;
    overflow: hidden;
    &::before {
        position: absolute;
        content: "";
        inset: 0 0 0 0;
        background-color: var(--secondary);
        transform: scaleY(0%);
        transform-origin: bottom;
        transition: transform .2s ease-in-out;
    }
    @include mq-720 {
        &:hover {
            &::before {
                transform: scaleY(100%);
            }
        }
    }
}
.dark .hover--bg-b {
    &::before {
        background-color: var(--secondary-dark);
    }
}

// Transition Delay
.transition-delay {
    &--100 {
        transition: opacity .3s .3s, transform .3s .3s;
    }
    &--200 {
        transition: opacity .3s .6s, transform .3s .6s;
    }
    &--300 {
        transition: opacity .3s .8s, transform .3s .8s;
    }
    &--400 {
        transition: opacity .3s 1.1s, transform .3s 1.1s;
    }
    &--500 {
        transition: opacity .3s 1.4s, transform .3s 1.4s;
    }
    &--600 {
        transition: opacity .3s 1.7s, transform .3s 1.7s;
    }
    &--700 {
        transition: opacity .3s 2s, transform .3s 2s;
    }
    &--800 {
        transition: opacity .3s 2.3s, transform .3s 2.3s;
    }
    &--900 {
        transition: opacity .3s 2.6s, transform .3s 2.6s;
    }
    &--1000 {
        transition: opacity .3s 2.9s, transform .3s 2.9s;
    }
    &--1100 {
        transition: opacity .3s 3.2s, transform .3s 3.2s;
    }
    &--1200 {
        transition: opacity .3s 3.5s, transform .3s 3.5s;
    }
}

/* Navigation */
.active {
    opacity: 1;
}
.active, .going-to-next, .coming-from-next,
.going-to-prev, .coming-from-prev {
    transition: transform .3s  ease-in-out, opacity .2s ease-in-out;
}
.going-to-next, .coming-from-next  {
    transform: translateX(-25%);
    opacity: 0;
}
.going-to-prev, .coming-from-prev {
    transform: translateX(25%);
    opacity: 0;
}