// ** COLORS **

// colors
.color--white--0 {
    color: var(--white--0);
}
.color--white--100 {
    color: var(--white--100);
}
.color--white--200 {
    color: var(--white--200);
}
.color--white--300 {
    color: var(--white--300);
}
.color--grey--0 {
    color: var(--grey--0);
}
.color--grey--100 {
    color: var(--grey--100);
}
.color--grey--200 {
    color: var(--grey--200);
}
.color--grey--300 {
    color: var(--grey--300);
}
.color--black--0 {
    color: var(--black--0);
}
.color--black--100 {
    color: var(--black--100);
}
.color--black--200 {
    color: var(--black--200);
}
.color--black--300 {
    color: var(--black--300);
}
.color--yellow {
    color: var(--yellow);
}
.color--blue {
    color: var(--blue);
}
.color--green {
    color: var(--green);
}
.color--red {
    color: var(--red);
}

// background
.color-bg--white--0 {
    background-color: var(--white--0);
}
.color-bg--white--100 {
    background-color: var(--white--100);
}
.color-bg--white--200 {
    background-color: var(--white--200);
}
.color-bg--white--300 {
    background-color: var(--white--300);
}
.color-bg--grey--0 {
    background-color: var(--grey--0);
}
.color-bg--grey--100 {
    background-color: var(--grey--100);
}
.color-bg--grey--200 {
    background-color: var(--grey--200);
}
.color-bg--grey--300 {
    background-color: var(--grey--300);
}
.color-bg--black--0 {
    background-color: var(--black--0);
}
.color-bg--black--100 {
    background-color: var(--black--100);
}
.color-bg--black--200 {
    background-color: var(--black--200);
}
.color-bg--black--300 {
    background-color: var(--black--300);
}
.color-bg--yellow {
    background-color: var(--yellow);
}
.color-bg--blue {
    background-color: var(--blue);
}
.color-bg--green {
    background-color: var(--green);
}
.color-bg--red {
    background-color: var(--red);
}


// Fonts
.underline {
    text-decoration: underline;
}