@import '../../scss/mixins';
@import '../../scss/variables';

.work__projects-grid-item {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 0 var(--black);
    position: relative;
    overflow: hidden;

    @include mq-720 {
        &:hover {
            .work__single-project {
                &-tab {
                    transform: translateY(-100%);
                }
                &-tab--hover {
                    transform: translateY(0);
                    opacity: 1;
                }
                &-index, &-date, &-type, &-title {
                    opacity: 0;
                }
                &-index, &-date, &-type {
                    transform: translateY(-4rem);
                    
                }
                &-title {
                    transform: translate(-50%, -4rem);
    
                    &--hover {
                        transform: translateY(0);
                        opacity: 1;
                    }
                } 
            }
        }
    }
    
    .work__single-project {
        &-tab {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height: 100%;
            overflow: hidden;
            position: relative;
            transform: translateY(0);
            transition: transform .4s ease-in-out;
        }
        &-tab--hover {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            inset: 0 0 0 0;
            transform: translateY(100%);
            transition: transform .3s ease-in-out, opacity .4s ease-in-out;
            opacity: 0;

            .arrow {
                position: absolute;
                &:nth-child(2) {
                    bottom: $padding--m;
                    left: $padding--m;
                }
                &:nth-child(3) {
                    bottom: $padding--m;
                    right: $padding--m;
                }
            }
        }

        &-index, &-title, &-title--hover, &-date, &-type {
            text-align: center;
            color: var(--black);
            opacity: 1;
            transition: opacity .2s ease-in-out, .2s ease-in-out;
        }
        &-index, &-title, &-date, &-type {
            position: absolute;
        }
        &-index, &-date, &-type {
            font-size: $fs--xs;
        }
        &-index {
            top: $padding--m;
            left: $padding--m;
        }
        &-title {
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &--hover {
                color: var(--white);
                font-size: $fs--xl;
                font-weight: 100;
            }
        }
        &-date {
            bottom: $padding--m;
            left: $padding--m;
        }
        &-type {
            bottom: $padding--m;
            right: $padding--m;
        }
    }
}