@import '../../scss/mixins';
@import '../../scss/variables';

.project-tab {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 0 var(--secondary);
    position: relative;
    overflow: hidden;
    color: var(--secondary);

    @include mq-720 {
        &:hover {
            .project-tab {
                &__cover {
                    transform: translateY(-100%);
                    opacity: 0;
                }
                &__cover--hover {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
    
    .project-tab {
        &__cover {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto 1fr auto;
            width: 100%;
            max-height: 100%;
            padding: $padding--m;
            overflow: hidden;
            position: relative;
            transform: translateY(0);
            transition: transform .4s $cubic-bezier, opacity .2s ease-in-out;
            
            @include mq-1024 {
                padding: $padding--l;
            }
        }
        &__cover--hover {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            inset: 0 0 0 0;
            transform: translateY(100%);
            transition: transform .4s $cubic-bezier, opacity .2s ease-in-out;
            opacity: 0;

            .arrow {
                position: absolute;
                bottom: $padding--m;
                @include mq-720x780 {
                    bottom: $padding--l;
                }
                &:nth-child(2) {
                    left: $padding--m;
                    @include mq-720x780 {
                        left: $padding--l;
                    }
                }
                &:nth-child(3) {
                   
                    right: $padding--m;
                    @include mq-720x780 {
                        right: $padding--l;
                    }
                }
            }
        }
        &__index, &__title {
            grid-column: 2 span;
        }
        &__title {
            text-align: center;
            margin: auto auto;
        }
        &__type {
            text-align: right;
        }
        &__title--hover {
            color: var(--secondary);
        }
    }
}
// Dark mode
.dark .project-tab {
    box-shadow: 1px 1px 0 var(--secondary-dark);
    color: var(--secondary-dark);
    &__title--hover, .arrow {
        color: var(--secondary-dark);
    }
}